* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.hero h1 {
    font-size: 6rem;
}